name: builds

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  actions: read
  contents: read

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Setup MSVC Environment
      uses: ilammy/msvc-dev-cmd@v1.10.0
    
    - name: Restore vcpkg cache
      id: vcpkg-cache
      uses: TAServers/vcpkg-cache@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Build
      env:
        VCPKG_FEATURE_FLAGS: "binarycaching"
        VCPKG_BINARY_SOURCES: "clear;files,${{ steps.vcpkg-cache.outputs.path }},readwrite"
      run: |
        cmake --preset build-release-msvc -DOUTPUT_FOLDER=${{ github.workspace }}/dist
        cmake --build --preset release-msvc
    
    - name: Create artifact
      uses: actions/upload-artifact@v4
      with:
        name: build_result
        path: "${{ github.workspace }}/dist"
        if-no-files-found: error
        overwrite: true
